In [2]:
import pandas as pd

In [3]:
import numpy as np

# Series

In [4]:
x = ['a', 'b', 'c', 'd', 'e']
y = [1,2,3,4,5]
z = {1:'a', 2:'b', 3:'c', 4:'d', 5:'e'}

In [6]:
#Creating a series from a List
a = pd.Series(data = x)

In [8]:
print(type(a))
print(a)

<class 'pandas.core.series.Series'>
0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
#Creating a series from a list as value and a list as index
b = pd.Series(data =x, index=y)
print(b)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [10]:
#Creating a series from a Dictionary where keys are index and values are value of the serie
c = pd.Series(data = z)
print(c)

1    a
2    b
3    c
4    d
5    e
dtype: object

# Data Frame

In [11]:
#Creating data frames rows are A, B , C, D and columns are V, W, X, Y, Z 
A = [1, 2, 3, 4, 5]
B = [6, 7, 8, 9, 10]
C = [11, 12, 13, 14, 15]
D = [16, 17, 18, 19, 20]

df = pd.DataFrame([A,B,C,D], index= ['a', 'b', 'c', 'd'], columns= ['V', 'W', 'X', 'Y', 'Z'])
print('The type of the structure is {t}'.format(t=type(df)))
df

The type of the structure is <class 'pandas.core.frame.DataFrame'>

    V   W   X   Y   Z
a   1   2   3   4   5
b   6   7   8   9  10
c  11  12  13  14  15
d  16  17  18  19  20

In [12]:
#Creating Emoji DataFrame. DataFrame handles every type
A2 = ['ğŸ˜€', 'ğŸˆ', 'ğŸ”', 'ğŸš“', 'ğŸš¡']
B2 = ['ğŸ˜€', 'ğŸˆ', 'ğŸ”', 'ğŸš“', 'ğŸš¡']
C2 = ['ğŸ˜€', 'ğŸˆ', 'ğŸ”', 'ğŸš“', 'ğŸš¡']
D2 = ['ğŸ˜€', 'ğŸˆ', 'ğŸ”', 'ğŸš“', 'ğŸš¡']

df2 = pd.DataFrame([A2,B2,C2,D2], index= ['a', 'b', 'c', 'd'], columns= ['V', 'W', 'X', 'Y', 'Z'])
df2

   V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡

Creating And Deleting rows / columns in data frame

In [13]:
def Equals(dataFrame1, dataFrame2):
    if dataFrame1.equals(dataFrame2):
        return 'Equals'
    return 'Not Equals'
#MakeCopy of Data Frame
df_copy = df2.copy()
#The copy are equal with the original
print('The Original and Copy data frame are {x}'.format(x = Equals(df_copy, df2)))
print('Original {x}'.format(x= df2))
print('Copy {x}'.format(x= df_copy))

#Adding Columns in copy df
print('----------------------------------')
df_copy['A'] = df2['Y'] + df2['Z']
print('The Initial and Copy data frame are {x}'.format(x = Equals(df_copy, df2)))
print('Original {x}'.format(x= df2))
print('Copy {x}'.format(x= df_copy))

#Make copy again
df_copy = df2.copy()
#Adding Rows in copydoping  df
print('----------------------------------')
row_to_add = pd.Series(data = ['ğŸ˜€', 'ğŸˆ', 'ğŸ”', 'ğŸš“', 'ğŸš¡'], index= df2.columns, name='e')
df_copy = df2.append(row_to_add)
print('The Initial and Copy data frame are {x}'.format(x = Equals(df_copy, df2)))
print('Original {x}'.format(x= df2))
print('Copy {x}'.format(x= df_copy))

#Make copy again
df_copy = df2.copy()
#Droping Rows in copy df
print('----------------------------------')
print('Dropping rows without inplace')
print(df_copy.drop('d'))
print('----------------------------------')
print('The Initial and Copy data frame are {x}'.format(x = Equals(df_copy, df2)))
print('Original {x}'.format(x= df2))
print('Copy {x}'.format(x= df_copy))
print('----------------------------------')
print('Dropping rows with inplace')
print(df_copy.drop('d', inplace= True))
print('----------------------------------')
print('The Initial and Copy data frame are {x}'.format(x = Equals(df_copy, df2)))
print('Original {x}'.format(x= df2))
print('Copy {x}'.format(x= df_copy))

#Make copy again
df_copy = df2.copy()
#Droping Columns in copy df
print('----------------------------------')
print('Dropping columns without inplace')
print(df_copy.drop('Z', axis=1))
print('----------------------------------')
print('The Initial and Copy data frame are {x}'.format(x = Equals(df_copy, df2)))
print('Original {x}'.format(x= df2))
print('Copy {x}'.format(x= df_copy))
print('----------------------------------')
print('Dropping columns with inplace')
print(df_copy.drop('Z', inplace= True, axis=1))
print('----------------------------------')
print('The Initial and Copy data frame are {x}'.format(x = Equals(df_copy, df2)))
print('Original {x}'.format(x= df2))
print('Copy {x}'.format(x= df_copy))

The Original and Copy data frame are Equals
Original    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
Copy    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
----------------------------------
The Initial and Copy data frame are Not Equals
Original    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
Copy    V  W  X  Y  Z   A
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡  ğŸš“ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡  ğŸš“ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡  ğŸš“ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡  ğŸš“ğŸš¡
----------------------------------
The Initial and Copy data frame are Not Equals
Original    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
Copy    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
e  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
----------------------------------
Dropping rows without inplace
   V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
----------------------------------
The Initial and Copy data frame are Equals
Original    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
Copy    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
----------------------------------
Dropping rows with inplace
None
----------------------------------
The Initial and Copy data frame are Not Equals
Original    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
Copy    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
----------------------------------
Dropping columns without inplace
   V  W  X  Y
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“
----------------------------------
The Initial and Copy data frame are Equals
Original    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
Copy    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
----------------------------------
Dropping columns with inplace
None
----------------------------------
The Initial and Copy data frame are Not Equals
Original    V  W  X  Y  Z
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“  ğŸš¡
Copy    V  W  X  Y
a  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“
b  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“
c  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“
d  ğŸ˜€  ğŸˆ  ğŸ”  ğŸš“

Accessing Elements in Data Frame

In [14]:
#Accessing Columns
print('-------------------')
print('Acces the column {t} in data Frame \n{T}\nThe type of the output is {tt}'.format(t = 'Z', T = df2['Z'], tt = type(df2['Z'])))
#Accessing Rows by index name
print('-------------------')
print('Acces the row {t} in data Frame \n{T}\nThe type of the output is {tt}'.format(t = 'a', T = df2.loc['a'], tt = type(df2.loc['a'])))
#Accessing Rows by index position
print('-------------------')
print('Acces the {t}-row  in data Frame \n{T}\nThe type of the output is {tt}'.format(t = 2, T = df2.iloc[1], tt = type(df2.iloc[1])))
#Accessing element by index and column positions 
print('-------------------')
print('Acces the element in {t}-row and {u}-column  in data Frame \n{T}\nThe type of the output is {tt}'.format(t = 2, u = 3, T = df2.iloc[1,2], tt = type(df2.iloc[1,2])))
#Accessing element by index and column names 
print('-------------------')
print('Acces the element in row {t} and column {u} in data Frame \n{T}\nThe type of the output is {tt}'.format(t = 'c', u = 'Y', T = df2.loc['c','Y'], tt = type(df2.loc['c','Y'])))

-------------------
Acces the column Z in data Frame
a    ğŸš¡
b    ğŸš¡
c    ğŸš¡
d    ğŸš¡
Name: Z, dtype: object
The type of the output is <class 'pandas.core.series.Series'>
-------------------
Acces the row a in data Frame
V    ğŸ˜€
W    ğŸˆ
X    ğŸ”
Y    ğŸš“
Z    ğŸš¡
Name: a, dtype: object
The type of the output is <class 'pandas.core.series.Series'>
-------------------
Acces the 2-row  in data Frame
V    ğŸ˜€
W    ğŸˆ
X    ğŸ”
Y    ğŸš“
Z    ğŸš¡
Name: b, dtype: object
The type of the output is <class 'pandas.core.series.Series'>
-------------------
Acces the element in 2-row and 3-column  in data Frame
ğŸ”
The type of the output is <class 'str'>
-------------------
Acces the element in row c and column Y in data Frame
ğŸš“
The type of the output is <class 'str'>

Conditional Accessing

In [19]:
#One Condition
df[df < 9]

     V    W    X    Y    Z
a  1.0  2.0  3.0  4.0  5.0
b  6.0  7.0  8.0  NaN  NaN
c  NaN  NaN  NaN  NaN  NaN
d  NaN  NaN  NaN  NaN  NaN

In [21]:
#One Condition in a column
df[df['V']<9][['W', 'Z']]

   W   Z
a  2   5
b  7  10

In [24]:
#Multiple Condition
def Equals(dataFrame1, dataFrame2):
    if dataFrame1.equals(dataFrame2):
        return 'Equals'
    return 'Not Equals'
print('-----------------------------')
result = df[(df['V']>5) | (df['X']<14)]
print(result)
print('The muliple condition result and the original dataFrame are {t}'.format(t  = Equals(result, df)))
result = df[(df['V']>5) & (df['X']<14)]
print(result)
print('The muliple condition result and the original dataFrame are {t}'.format(t  = Equals(result, df)))

-----------------------------
    V   W   X   Y   Z
a   1   2   3   4   5
b   6   7   8   9  10
c  11  12  13  14  15
d  16  17  18  19  20
The muliple condition result and the original dataFrame are Equals
    V   W   X   Y   Z
b   6   7   8   9  10
c  11  12  13  14  15
The muliple condition result and the original dataFrame are Not Equals

Missing Data NA